/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--------VARIABLES--------*/


:root {
  /*----FONTS----*/
  --title-font: 'Ranchers', cursive;
  --font: 'Roboto', sans-serif;

/*----TEXT SIZING----*/
  --base-size: 1.6rem; /* 16px*/
  --type-scale: 1.33;
  --small: 1.3rem;
  --p: var(--base-size);
  --body: calc(var(--base-size) * var(--type-scale)); /* 21.33px */
  --h6: calc(var(--body) * var(--type-scale) ); /* 28.43 */ 
  --h5: calc(var(--h6) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));

/*----COLOR PALLETTE----*/
--blue: royalblue;
--light-blue: rgb(110, 135, 212);
--white-blue: rgb(190, 190, 212);
--light-blue: rgb(105, 135, 228);
--orange: coral;
--light-orange: rgb(250, 160, 125);
--white-orange: rgb(250, 225, 215);
--lighter-orange: rgba(255, 127, 80, 0.5);

--white: whitesmoke;
--white-light: rgba(245, 245, 245, 0.5);
--black: rgb(5, 9, 20);
--black-light: rgba(5, 9, 20, 0.5);

/*----GRADIENTS----*/
--grad-blue: linear-gradient(120deg,
  royalblue,
  rgb(110, 135, 212),
  rgb(190, 190, 212));
--grad-blue-light: linear-gradient(120deg,
  rgba(65, 105, 225, 0.5),
  rgba(110, 135, 212, 0.5),
  rgba(190, 190, 212, 0.5));
--grad-blue-lighter: linear-gradient(120deg,
  rgba(65, 105, 225, 0.2),
  rgba(110, 135, 212, 0.2),
  rgba(190, 190, 212, 0.2));

--grad-orange: linear-gradient(120deg,
  rgb(250, 160, 125),
  rgb(250, 225, 215),
  rgb(255, 127, 80));
--grad-orange-light: linear-gradient(120deg,
  rgba(250, 160, 125, 0.5),
  rgba(250, 225, 215, 0.5),
  rgba(255, 127, 80, 0.5));
--grad-orange-lighter: linear-gradient(120deg,
  rgba(250, 160, 125, 0.2),
  rgba(250, 225, 215, 0.2),
  rgba(255, 127, 80, 0.2));

--grad-blue-orange: linear-gradient( 90deg,
  var(--blue) 25%,
  var(--light-blue) 50%,
  var(--light-orange),
  var(--orange) );
--grad-blue-orange-light: linear-gradient( 3000deg ,
  var(--light-blue) 25%,
  var(--white-blue) 40%,
  var(--light-blue) );
}

/*----GENERAL CONFIG---- */

body {
  font-family: var(--font);
  scroll-behavior: smooth;
  background-color: var(--white-blue);  
  color: var(--black);
}

/*----RESPONSIVE----*/


@media screen and (max-width: 72rem) {
  :root{
    --type-scale: 1.25;
  }
    
}

@media screen and (max-width: 56rem) {
  :root{
    --type-scale: 1.15;
  }    
}


/* LINK STYLE */
a,
a:active {
  text-decoration: none;
  color: var(--black);
}


